@model IEnumerable<Epam.UsersAwards.Entities.Award>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in ViewContext.RouteData.Values)
{
    item.Value.ToString();
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            <img src="@Url.Action("Photo","Award", new { id = item.ID })" alt="@item.Title's photo" width="80" height="80" class="img-circle img-thumbnail">
        </td>
    </tr>
}

</table>
