@model Epam.UsersAwards.MVCattr.ViewModels.Users.UserShowWithAwardsVM

@{
    ViewBag.Title = "GetByID";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>GetByID</h2>

<div>
    <h4>UserEditVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
